table {
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    text-align: left;
    border: 1px solid black;
    border-spacing: 0;
}

.nomarker {
    list-style-type: none;
}

ul#quotes {
    padding: 0;
}

.quote {
    padding: .5em;
    border-radius: .5em;
}

