pre {
    white-space: pre-wrap;
}

table {
    border-collapse: collapse;
}

th, td {
    text-align: left;
    border-spacing: 0;
}

tr:nth-child(even) {
    background-color: #ccf;
}

#header > h1 {
    display: inline-block;
}
#header a {
    color: black;
    text-decoration: none;
}
#header a:hover {
    text-decoration: underline;
}
ul.flatten > li:nth-child(n+2):before {
    content: "|";
    margin: .25em;
}
ul.flatten {
    display: inline;
    padding: .25em;
    margin-left: 1em;
}
ul.flatten > li {
    display: inline;
}

#nav .nav-active {
    font-weight: bold;
}

.nomarker {
    list-style-type: none;
}

ul#quotes {
    padding: 0;
}

.quote {
    padding: .5em;
    border-radius: .5em;
}

#score-table {
    width: 100%;
}
#score-graph {
    width: 100%;
    background-color: white;
    overflow: auto;
    resize: vertical;
}

