{% extends "base.html" %}

{% block title %}Scores{% endblock %}

{% block content %}
<img src="{% url 'karma.views.score_graph' %}" alt="Scores log10"
     id="score-graph"/>
<p>
    There are {{things|length}} names in the database, totalling {{total_score}}
    points.
</p>
<table id="score-table">
    <tr>
        <th>Place</th>
        <th>Name</th>
        <th>Score</th>
    </tr>
    {% for thing in things %}
    <tr>
        <td>{{thing.rank}}</td>
        <td><a href="{% url 'score-detail' pk=thing.name %}">{{thing.name}}</a></td>
        <td>{{thing.score}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
