
<div id="score-graph">
    <highchart config="chartConfig"></highchart>
</div>

<p>
    There are {{ aggregate_names }} names in the database, totalling
    {{ aggregate_score }} points.
</p>

<table infinite-scroll="moreScores()" infinite-scroll-disabled="more_loading"
       id="score-table">
    <tr>
        <th>Place</th>
        <th>Name</th>
        <th>Score</th>
    </tr>
    <tr ng-repeat="score in scores track by $index">
        <td>{{ score.rank }}</td>
        <td>{{ score.name }}</td>
        <td>{{ score.score }}</td>
    </tr>
</table>

<div class="throbber" ng-show="more_loading">
    Loading more scores..
</div>
